.ordering{
    
    grid-column: 1 / -1;
}
.reserve-section{
    display: grid;
    grid-template-columns: 50px repeat(4 ,1fr) 50px ;
    grid-template-rows: 1fr;
    padding: 55px;
    text-align: center;
    background-image: url(../resturant3.jpg), linear-gradient(to bottom, #4d4c4f, #000000) ;
    background-position: center;
    background-size: cover;
    
}
.right{
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 2fr 1fr repeat(3 , 0.5fr) 2fr;
    padding-top: 15px  ;
}
.left{
    background-color: rgba(255, 255, 255, 0.74);
    grid-column: 3 / 6 ; 
    padding: 10px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr 2fr;
    
}
.leftbox{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.leftbox-imag{
width: 100%;
height: 120px;
clip-path: circle(28% at 50% 50%);
}
.left-title ,.perantes,.reserve-branch{
    color: gold;
    font-family: 'Lobster', cursive;
    

}
.order-text{
    align-self: center;
    font-family: 'Lobster', cursive;
}
@media screen and (max-width:675px)  {
    .left{
        font-size: 12px;
    }
    .right{
        font-size: 13px;
    }
    .reserve-section{
        padding: 10px  0px;
    }
    
}
@media screen and (max-width:400px){
    .reserve-section{
        grid-template-columns: 15px repeat(4 ,1fr) 15 px ;
    }
}