.story{
    
    grid-column: 1 / -1;
   
    
}
.story-images{
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
}
.imag{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
@media screen and (max-width:670px)  {
    .imag-4{
        grid-column: 2 / 3;
    }
    
}
    
@media screen and (max-width:400px)  {
    .imag-4{
        grid-column: auto;
    }
    
}